
@import "tailwindcss";



body,html{
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; 
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 700;
}

button{
    background-color: #ffa200;
    color: #ffff;
    border-radius: 5px !important;
    cursor: pointer;
    padding:8px;
}

.montserrat-main {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}


